*\.o
*\.csv
*\.core
.depend
.swp
wrk2
kqmanager
kqmanager.debug
kqmanager.full
kqserver
kqserver.debug
kqserver.full
kqclient
kqclient.debug
kqclient.full
evcompat/build
scripts/pingpong/results.d
scripts/pingpong/graphs.d
